#page-details-error {
    width: 100%;
    height: 100vh;
}

.page-header {
    display: flex;
    flex-direction: column;
    background-color: #4F4DDF;
}

.page-header .top-bar-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    align-items: center;
    color: #fff;
    padding: 1.6rem 0;
}

.page-header .top-bar-container a {
    height: 3.2rem;
    transition: opacity 0.2s;
}

.page-header .top-bar-container a:hover {
    opacity: 0.6;
}


.page-header .top-bar-container strong {
    color: #fff;

}

.page-header .header-content {
    width: 90%;
    margin: 0 auto;
    position: relative;
    margin: 3.2rem auto;
}

.page-header .header-content strong {
    font: 700 2.6rem Roboto;
    line-height: 4.2rem;
    color: #fff;
}

.body span{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    color: #121212;
    font-size: 108px;
}

.body .createdAt {
    width: 211px;
    height: 39px;
    margin-left: 914px;
    margin-top: 45px;
}

.body .environment {
    width: 122px;
    height: 44px;
    margin-left: 1403px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    color: rgba(125,119,119,1);
}

.bottom {

}

.bottom {

}

.detailsText span{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    color: #121212;
    font-size: 108px;
}

.detailsContainer {
    background-color: #E6E6E6;
    width: 999px;
    height: 518px;
}

.detailsContainer span {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    color: rgba(125,119,119,1);
    font-size: 48px;
}